# LLM & Embedding
langchain>=1.0.0
langchain-core>=1.0.0
langchain-google-genai>=2.0.0
langchain-chroma==1.1.0
google-generativeai>=0.8.0

# Vector DB
chromadb==1.5.5
weaviate-client>=4.9.0
langchain-weaviate>=0.0.3

# LangGraph (Agent)
langgraph>=1.0.0
langgraph-prebuilt>=1.0.0

# Document Parsing
python-docx>=1.1.0
pdfplumber>=0.10.0
pypdf>=4.0.0
openpyxl>=3.1.0
pyhwp>=0.1b12 # 현재는 미사용(0409기준), 추후 hwp 사용시에 추가할수도 있음
olefile>=0.47

# UI
gradio>=4.0.0

# Utilities
python-dotenv>=1.0.0
tqdm>=4.66.0

# Google AI SDK
google-genai

# GCP 서비스
google-cloud-storage
google-cloud-discoveryengine
google-cloud-bigquery

# Knowledge Graph
neo4j>=5.0.0
